* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;

  }

  a:hover{
    color: #e97933;
  }

  button:hover {
    background-color: #f08c3b !important;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }